/* Base Application Styles */
html,body{
  padding : 0;
  margin : 0;
  background-color : #222;
  width : 100%;
  height : 100%;
}

.app{
  width : 100%;
  height : 100%;
}

/* stage -- start */
.stage{
  width : 100%;
  height : 680px;
  position : relative;  
}
/* stage -- end */

/* img-sec -- start */
.img-sec{
  position : relative;
  width : 100%;
  height : 100%;
  overflow : hidden;
  background-color : #ddd;

  @at-root{//使下列样式与.img-sec平级，提高性能
    .img-figure{
      width : 320px;
      height : 360px;
      margin : 0;
      padding : 40px;
      box-sizing : border-box;
      background-color : #fff;
      position : absolute;
    }
    figcaption{
      text-align : center;

      .img-title{
        margin : 20px 0 0 0;
        color : #a7a0a2;
        font-size : 16px;
      }
    }
  }
}
/* img-sec -- end */

/* controller-nav -- start */
.controller-nav{
  position : absolute;
  left : 0;
  bottom : 30px;
  width : 100%;
  z-index : 101;
  text-align : center;
}
/* controller-nav -- end */
